/* include border and padding in element width and height */


/* {
  box-sizing: border-box;
} */

body {
    background-color: #e0e0e0;
    margin: 0%;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
}


/*headrer styles */

header {
    top: 0%;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*section part */

section {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
}

#slideshow-container,
#booking-form {
    padding: 1%;
    text-align: center;
    border: 1px solid black;
    max-height: 400px;
}

#slideshow-booking {
    display: flex;
    justify-content: start;
    align-content: center;
}

#slideshow-container {
    margin-left: 2%;
    border-right: none;
    flex-grow: 3;
    max-width: 60%;
}

.outer {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

#book-now {
    margin-top: 5%;
}

.inner {
    width: 60%;
}

#img-1 {
    height: 500px;
    width: 500px;
    margin: 2% 4% 0% 4%;
}

#book-now {
    margin: 0% 4% 1% 4%;
}

#discription {
    margin: 1% 4% 2% 4%;
}


/* footer part*/

footer {
    background-color: rosybrown;
    margin-bottom: 0%;
    padding: 0.7%;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}